:root {
    --bg-custom: #373e44;
    --default-icon-size: 1.5rem;
    --default-transition-time: .2s;
}

body {
    height: 100vh;
    width: 100vw;
}

.content-layout {
    display: flex;
    flex-direction: row;
    padding: 0px 15px 0px 0px;
}

.main-container {
    background-color: var(--bg-custom);
    height: 97%;
    border-radius: 15px;
    margin: auto;

}

.clickable {
    cursor: pointer;
}
