.brand {
    height: 50px;
    width: 50px;
    background-color: var(--bg-custom);
    border-radius: 50%;
    font-size: var(--default-icon-size);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.addProject {
    font-size: var(--default-icon-size);
    cursor: pointer;
    color: var(--bs-white);
    transition: color var(--default-transition-time);
}

.addProject:hover {
    color: var(--bs-success);
    transition: color var(--default-transition-time);
}

.deleteProject {
    font-size: var(--default-icon-size);
    color: var(--bs-white);
    transition: color var(--default-transition-time);
    cursor: pointer;
}

.deleteProject:hover {
    color: var(--bs-danger);
    transition: color var(--default-transition-time);
}

.projectIcon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    font-size: var(--default-icon-size);
    color: var(--bs-white);
    align-items: center;
    border-radius: 50%;
    background-color: var(--bs-primary);
    margin: 8px 0px;
}

.listButton {
    font-size: var(--default-icon-size);
    margin: 0px 2px 3px 0px;
    color: var(--bs-white);
    cursor: pointer;
    transition: color var(--default-transition-time);
}

.listButton:hover {
    color: var(--bs-success);
    transition: color var(--default-transition-time);
}

.addListModalButton {
    color: var(--bs-success);
    cursor: pointer;
    font-size: var(--default-icon-size);
    transition: color var(--default-transition-time);
}

.addListModalButton:hover {
    color: var(--bs-success-text-emphasis);
    transition: color var(--default-transition-time);
}

.labelsButton {
    color: var(--bs-white);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0px 0px 3px 3px;
    transition: color var(--default-transition-time);
}

.labelsButton:hover {
    color: var(--bs-success);
    transition: color var(--default-transition-time);
}

.addLabelModalButton {
    color: var(--bs-success);
    cursor: pointer;
    font-size: var(--default-icon-size);
    transition: color var(--default-transition-time);
}

.addLabelModalButton:hover {
    color: var(--bs-success-text-emphasis);
    transition: color var(--default-transition-time);
}

.Avatar {
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg-custom);
    font-size: 2rem;
    padding-bottom: 5px;
    color: var(--bs-white);
}

.projectNameContainer {
    width: 300px;
    height: 46px;
    overflow: hidden;
}

.addCard {
    font-size: var(--default-icon-size);
    color: var(--bs-white);
    cursor: pointer;
    transition: color var(--default-transition-time);
}

.addCard:hover {
    color: var(--bs-success);
    transition: color var(--default-transition-time);
}